<mat-sidenav-container>
    
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item
               *ngIf="!auth.isAuthenticated()"
               (click)="doLogin()">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">Login</span>
            </a>
            <a mat-list-item
               *ngIf="auth.isAuthenticated()"
               (click)="goPath('/')"
               x-kkrouterLink="/">
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
            </a>
            <a mat-list-item
               (click)="goPath('/dashboard')"
               x-kkrouterLink="/dashboard">
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
            </a>
            <a mat-list-item
               (click)="goPath('/scene01')"
               x-kkrouterLink="/scene01">
                <mat-icon class="icon">fiber_smart_record</mat-icon>
                <span class="label">Scene01</span>
            </a>
            <a mat-list-item
               (click)="goPath('/terrain01')"
               x-kkrouterLink="/terrain01">
                <mat-icon class="icon">terrain</mat-icon>
                <span class="label">Terrain01</span>
            </a>
            <a mat-list-item
               (click)="goPath('/cava01')"
               x-kkrouterLink="/cava01">
                <mat-icon class="icon">vignette</mat-icon>
                <span class="label">Cava01</span>
            </a>
            <a mat-list-item
               *ngIf="auth.isAuthenticated()"
               (click)="doLogout()" type="button">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">LogOut</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a id="domid_blog_anchor"
                   (click)="goPath('/')"
                   x-kkrouterLink="/">
                    Material Blog
                </a>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li>
                        <a id="domid_login_anchor"
                           *ngIf="!auth.isAuthenticated()"
                           (click)="doLogin()">
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">Login</span>
                        </a>
                    </li>
                    <li>
                        <a id="domid_home_anchor"
                            *ngIf="auth.isAuthenticated()"
                            (click)="goPath('/')"
                            x-kkrouterLink="/">
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">Home</span>
                        </a>
                    </li>
                    <li>
                        <a id="domid_dashboard_anchor"
                           (click)="goPath('/dashboard')"
                           x-kkrouterLink="/dashboard">
                            <mat-icon class="icon">dashboard</mat-icon>
                            <span class="label">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a id="domid_scene01_anchor"
                           (click)="goPath('/scene01')"
                           x-kkrouterLink="/scene01">
                            <mat-icon class="icon">fiber_smart_record</mat-icon>
                            <span class="label">Scene01</span>
                        </a>
                    </li>
                    <li>
                        <a id="domid_terrain01_anchor"
                           (click)="goPath('/terrain01')"
                           x-kkrouterLink="/terrain01">
                            <mat-icon class="icon">terrain</mat-icon>
                            <span class="label">Terrain01</span>
                        </a>
                    </li>
                    <li>
                        <a id="domid_cava01_anchor"
                           (click)="goPath('/cava01')"
                           x-kkrouterLink="/cava01">
                            <mat-icon class="icon">vignette</mat-icon>
                            <span class="label">Cava01</span>
                        </a>
                    </li>
                    <li>
                        <a id="domid_logout_anchor"
                           *ngIf="auth.isAuthenticated()"
                           (click)="doLogout()" type="button">
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">LogOut</span>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
